/* Font import... */
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federant&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #dadada;
  overflow: hidden;
}
body {
  opacity: 0;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
  box-shadow: 5px 5px 15px #acaaaa;
}
h1 {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
  box-shadow: 5px 5px 15px #acaaaa;
  position: fixed;
  bottom: 0;
}
footer p {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
footer p > a {
  text-decoration: none;
  color: #fca311;
}
footer p > a:hover {
  text-decoration: underline;
  color: #14213d;
}
main {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#inputContainer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  box-shadow: 5px 5px 15px #b3aaaa;
  border-radius: 20px;
  padding: 0px 10px;
}
#userMessage {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none;
  border: none;
}
#sendUserMessage {
  width: 10%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}
#initialMessage {
  font-size: 2.3rem;
  text-align: center;
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
}
#chatHistory {
  width: 100%;
  height: calc(100% - 120px);
  display: none;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px;
  scroll-behavior: smooth;
}
/* Hiding Scroll Bar... */
#chatHistory::-webkit-scrollbar {
  display: none;
}
.user {
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: #ffffff6b;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40%;
}
.bot {
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: #ffffff6b;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: break-word;
}
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1.1rem;
}

/* Responsive Code... */
@media (max-width: 1024px) {
  #container {
    width: 80%;
  }
}

@media (max-width: 700px) {
  #container {
    width: 100%;
  }
  #inputContainer {
    width: 90%;
  }
  #chatHistory {
    width: 90%;
  }
  #userMessage {
    width: 80%;
  }
  #sendUserMessage {
    width: 20%;
  }
}

@media (max-width: 400px) {
  #initialMessage {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1rem;
  }
}
